@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: rgb(254 44 85);

    --default-layout-header-height: 60px;

    --default-layout-width-content: 1150px;

    --text-color: #161823;

    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//custom tippy tolltip

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.2rem;
        border-radius: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-box[data-placement^='bottom'] > .tiny-arrow::before {
        top: -8px;
    }
}
